<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="{{ url_for('static',filename='styles/stylesheet.css') }}" rel="stylesheet" type="text/css" media="screen">
 
  <script src="{{url_for('static', filename='clientscript.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:900" rel="stylesheet">

  <!--The welcomeview represents the home page that is displayed when no user is logged in-->
  <script type="text/view" id="welcomeview">
    <link href="{{ url_for('static',filename='styles/responsive-style.css') }}" rel="stylesheet" type="text/css" media="screen">
    <nav class="navbar  navbar-expand navbar-dark">
      <a class="navbar-brand" href="#"><h1 id="MainLogo">TWIDDER</h1></a>
      
      
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Login
            </a>
            <div class="dropdown-menu dropdown-menu-right" >
              <form id="loginform" action="client.html" method="post" onsubmit="login(email.value, password.value); return false;">
                 <div class="form-group row">
                   <div class="col">
                     <input type="email" name="email" class="form-control form-control-underlined" placeholder="Email" required>
                     
                   </div>
                 </div>
           
                 <div class="form-group row">
                   <div class="col">
                   <input type="password" name="password" class="form-control form-control-underlined" placeholder="Password" required>
                   
                 </div>
               </div>

               <div class="form-group row">
                 <div class="col">
                  <input type="submit" id="SignupButton" name=""  class="BtnOutline" value="Login">
                 </div>
               </div>
               </form>
            </div>
          </li>
        </ul>
     
  
  </nav>
  <div id="LandingContent">
    <div id="LandingText">
      <h1>Connect, Create & Share</h1>
      <h3>A new way to connect and  share with your friends</h2>
    </div>
    <form action="#BottomContent">
      <button id="LandingButton" class="BtnOutline"> Sign Up</button>
    </form>
  
  </div>
  <div id="BottomContent">
    <div id="SignupText">
      <h2>Sign Up Now</h2>
      <ul>
        <li><h3>Connect with old and new friends</h3></li>
        <li><h3>Create your own personal page</h3></li>
        <li><h3>Share custom notes on pages</h3></li>
      </ul>
    </div>
    <div id="SignupForm">
      <label for="createaccountform">Create your account</label>
      <form id="createaccountform" action="client.html" method="post" onsubmit="createAccount(this); return false;">
        <div class="form-group row">
          <div class="col">
            <input type="text" class="form-control" name="firstname" placeholder="First name" minlength="2" required="">
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col">
            <input type="text" class="form-control" name="lastname" placeholder="Last name" minlength="2" required="">
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col">  
          <select class="form-control" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="none">None</option>
          </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <input type="text" class="form-control" name="country" placeholder="Country" minlength="2" required="">
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col">
            <input type="text" class="form-control" name="city" placeholder="City" minlength="2" required="">
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <input type="email" class="form-control" name="email" placeholder="Email" required="">
          </div>
        </div>
       
        <div class="form-group row">
          <div class="col">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" minlength="8">
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm password" required="" minlength="8">
          </div>
        </div>
      
        <div class="form-group row">
          <div class="col">
            <input id="SignupButton" type="submit" name="" value="Create account" class="BtnOutline">
          </div>
        </div>

        
      </form>
    </div>
  </div>
  </script>

  <!--The profileview represents the page that displays a userprofile and its connected messages-->
  <script type="text/view" id="profileview">
    <div id="ProfileContent">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div id="LeftProfile">
            <img src="{{ url_for('static',filename='resources/profilepic.png') }}">
            <button id="Profilebtn" class="BtnFilled">Add Connection</button>
          </div>
        </div>
        <div class="col-md-6" style="height:400px;">
          <div id="RightProfile">
            <h2 id="fullname"></h2>
            <h3 id="email">name@mail.com</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit est quibusdam hic qui, odio corporis placeat tempore cupiditate illum optio quaerat libero ipsum repellat voluptate commodi quam doloremque expedita nihil.</p>
          </div>
          <div class="form-group">
           <!-- <textarea class="form-control" rows="5" id="comment" placeholder="Write a note on the wall... (Max 30 characters)" maxlength="245"></textarea> --> 
           
            <form id="postForm" action="client.html" method="post" onsubmit="postMessage(this);  return false;">
              <div class="form-group row">
                <div class="col">
                 <textarea class="form-control" rows="5"  resizable= "none" name="wallinput" id="wallinput"  placeholder="Whats on your mind?" minlength="1" maxlength="216" required placeholder="There is no message to send"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col">
                   <button id="Commentbtn" class="BtnFilled" type="submit" >Comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="wall">
      <div id="NoteContent">  
          <ul id="wallMessages" class="row justify-content-center">
          </ul>
      </div>
    </div>
  </script>

  <!-- The passwordview represents the page where a user can change its password-->
  <script type="text/view" id="passwordview">
    <div id="Passwordchange" class="justify-content-center">
       <h3> Change Password </h3>
        <form id="changepasswordform" action="client.html" method="post" onsubmit="changePassword(this); return false;">
          <div class="form-group row">
            <div class="col">
              <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Current password" required minlength="8">
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New password" required minlength="8">
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm new password" required minlength="8">
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <input type="submit" class="BtnFilled" name="" value="Save changes" id="Savebtn"  class="submitbutton">
            </div>
          </div>
        </form>     
      </div>
    </script>
  
  <!--  The navbar represents the navigation bar that is displayed when a user is logged in -->
  <script type="text/view" id="navbar">
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:#ffffff ; border-bottom: 1px solid #C4BEBE;" >
      <div class="container">
          <a class="navbar-brand mr-auto" href="#"><h1 id="MainLogo">TWIDDER</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <form class="form-inline my-2 my-md-0 ml-auto" action="client.html"  method="post" onsubmit="changeView('content', 'profileview', 1); return false;">
            <div class="col">
              <input class="form-control " id="searchinput" type="email" placeholder="Search for a user... " aria-label="Search" type="email" minlength="5" required placeholder="Enter a valid email address">
            </div>
              
          </form>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#" onclick="changeView('content', 'profileview', 2); return false; ">My Profile</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Settings
                </a>
                <ul id="cust_dropdown" class="dropdown-menu dropdown-menu-right" >
                    <li><a class="dropdown-item" href="#" onclick="changeView('content', 'passwordview', 2); return false; ">Change Password</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#" onclick="logout(); return false; " >Log Out </a> </li>
                  
                </ul>
              </li>
            </ul>
        </div>
      </div>
    </nav> 
  
  </script>
  <!-- This is used to form each message that is displayed on a profile page-->
    <script type="text/view" id="postformat">
      <div class="col-auto mb-3">
        <div class="card text-center" style="width: 287px; height: 293px;">
          <div class="card-body">
            <h5 class="card-title" id="sender"></h5>
            <p class="card-text" id="message"></p>
            
          </div>
        </div>
      </div>
    </script>
    
  

  <meta charset="utf-8">
  <title></title>
  
</head>

<!-- The structure of the website and the divs where content is loaded into using the different scripts -->
<body>
  <div id="menu">
  </div>
  <div id="content">
  </div>
</body>

</html>
